.head-background
{
    -fx-background-color: linear-gradient(to left,#795AF3 ,#3929E0);
}
.tab{
    -fx-background-color: white;
    -fx-text-fill: #171717;
    -fx-border-color: white;

}

.tab:pressed{
    -fx-background-color: #448AFF;
    -fx-text-fill: #a1a1a1;
}
.tab:focused{
    -fx-background-color: #448AFF;
    -fx-text-fill: white;
}
.btn{
    -fx-background-color: #448AFF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
.table-view{
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}
.table-view .column-header .label {
    -fx-text-fill: #818181;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-background-color: #e1e1e1;

}
.table-view .column-header {
    -fx-background-color: #616161;
    -fx-border-color: white;

}
.head-label{
    -fx-font-size: 24;
    -fx-text-fill: grey;
    -fx-font-weight: bold;
}

.select-btn:hover{
    -fx-background-color: #448AFF;
}

.head-background
{
    -fx-background-color: linear-gradient(to left,#795AF3 ,#3929E0);
}
.tab{
    -fx-background-color: white;
    -fx-text-fill: #171717;
    -fx-border-color: white;

}

.tab:pressed{
    -fx-background-color: #448AFF;
    -fx-text-fill: #a1a1a1;
}
.tab:focused{
    -fx-background-color: #448AFF;
    -fx-text-fill: white;
}
.btn{
    -fx-background-color: #448AFF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-min-width: 100;
    -fx-max-width: 200;
}
.table-view{
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}
.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-background-color: #f1f1f1;

}
.table-view .column-header {
    -fx-background-color: #fafafa;
    -fx-border-color: #fafafa;

}
.head-label{
    -fx-font-size: 24;
    -fx-text-fill: #716060;
    -fx-font-weight: bold;
}
.select-btn{
    -fx-font-size: 20;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-background-color: #dfdfdf;

}
.select-btn:hover{
    -fx-background-color: #448AFF;
    -fx-text-fill: white;
}
.anc-main{
    -fx-background-color: #fafafa;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}
.normal-lbl{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}