.head-background
{
    -fx-background-color: linear-gradient(to left,#795AF3 ,#3929E0);
}
.tab{
    -fx-background-color: white;
    -fx-text-fill: #171717;
    -fx-border-color: white;

}

.tab:pressed{
    -fx-background-color: #448AFF;
    -fx-text-fill: #a1a1a1;
}
.tab:focused{
    -fx-background-color: #448AFF;
    -fx-text-fill: white;
}